.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% - 256px);
  min-height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 77px;
  padding: 24px;
  background-color: #fff;
  border-bottom: solid 2px #dae1ea;
  border-left: solid 1px #dae1ea;
}

.companyName {
  font-size: 24px;
  color: #203e84;
}

.mainContent {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 944px;
  margin: 32px;
}

.memberList {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #f5f7fa;
}

.memberListTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 16px 8px 24px;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  background-color: #0070ba;
  border-bottom: solid 4px #ccc;
}

.sortSelect {
  width: 240px;
  cursor: pointer;
}

.membersTable {
  width: calc(100% - 32px);
  margin: 16px;
}

.membersTable th {
  border: solid 1px #ddd;
}

.membersTable th,
.membersTable td {
  width: 2%;
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.membersTable thead {
  padding-bottom: 16px;
  background-color: #fff;
}

.addMemberButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% - 32px);
  height: 48px;
  margin: 16px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  background-color: #0070ba;
  border: none;
  border-radius: 4px;
}
