.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 256px;
  background-color: #f3f7fd;
}

.spica {
  display: flex;
  width: 100%;
  padding: 16px 16px 16px 32px;
  font-size: 32px;
  font-weight: bold;
  color: #003087;
  border-right: 1px solid #dae1ea;
  border-bottom: 2px solid #dae1ea;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
  padding: 16px 24px;
}

.menuTitle,
.menuItem {
  display: flex;
  align-items: center;
  padding: 8px;
  font-size: 16px;
  color: #4b5f7e;
}

.menuItem {
  background-color: #e3ecfa;
  border: none;
  border-radius: 8px;
}
