.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 48px 0;
  background-color: #e1eff6;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.news {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
}

.newsItem {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  width: 920px;
  padding: 16px 24px;
  margin: 10px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgb(0 0 0 / 10%);
}

.newsHeader {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
}

.newsDate {
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  width: 104px;
  font-weight: bold;
  color: #333;
}

.newsCategory {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 144px;
  padding: 8px;
  font-weight: bold;
  color: #333;
  background-color: #b2e8f2;
  border-radius: 2px;
}

.newsTitle {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: calc(100% - 266px);
  color: #666;
}

@media (max-width: 1000px) {
  .news {
    width: 100%;
    padding: 0 16px ;
  }

  .newsItem {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: calc(100% - 20px);
  }

  .newsTitle {
    width: 100%;
  }
}
